label {
  color: #7f8c8d;
  font-family: "Playfair Display', serif";
  font-size: 14px;
  margin-block-end: 5px;
}
input {
  width: 100%;
  padding: 7px 12px;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 15px;
  color: #7f8c8d;
  font-family: "Playfair Display', serif";
  border: 1px solid #d6dbe4;
  &.mb-20 {
    margin-block-end: 20px;
  }

  &:focus {
    border: 1px solid #007bff;
    outline: none !important;
  }

  &::placeholder {
    font-size: 1rem;
    color: #7f8c8d;
  }
}
