@if (isloading) {
<app-spinner></app-spinner>
} @else {
<section class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <app-breadcrumb [breadCrumbStack]="breadCrumbData"></app-breadcrumb>
    </div>
    <div class="row justify-content-between">
      <div class="col-6 col-md-3 col-xl-2">
        <h1>User Info</h1>
        <p>{{ userData?.first_name + " " + userData?.last_name }}</p>
      </div>
      <div class="col-6 col-md-3 col-xl-2 text-end">
        <app-button
          [class]="'rounded'"
          [type]="'button'"
          [value]="'Back'"
          [id]="'enquire-btn'"
          [paddingSize]="'9px 15px'"
          [showImage]="false"
          [routerLink]="['/users']"
        ></app-button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="page-content page-container" id="page-content">
    <div class="container">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-12">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25">
                    <app-image [class]="'img-thumbnail'" [image]="userData?.avatar" [alt]="userData?.first_name"></app-image>
                  </div>
                  <h3 class="text-white">{{ userData?.first_name + " " + userData?.last_name }}</h3>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h2>Information</h2>
                  <div class="row mt-3">
                    <div class="col-sm-6">
                      <p class="mb-2">First Name</p>
                      <h6 class="text-muted">{{userData?.first_name}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="mb-2">Last Name</p>
                      <h6 class="text-muted">{{userData?.last_name}}</h6>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-6">
                      <p class="mb-2">Email</p>
                      <h6 class="text-muted">{{userData?.email}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="mb-2">User ID</p>
                      <h6 class="text-muted">{{userData?.id}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}
