
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#44617f), to(#007bff));
    background: linear-gradient(to right, #007bff, #44617f);
}


 



.card-block {
    padding: 1.25rem;
}

